<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <title>Data Explorer</title>

    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">

    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    <link href="//cdn.bootcss.com/normalize/3.0.3/normalize.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/gridlex/2.0.8/gridlex.min.css" rel="stylesheet">
    <style type="text/css">
        #epl-main {
            margin-top: 1em;
        }

        #epl-q #epl-q-sql {
            width: 100%;
            height: 10em;
        }

        #epl-q #epl-q-query {
            width: 5em;
            height: 2em;
        }
    </style>
</head>
<body>
<div id="epl-main">
    <div class="grid">
        <div class="col grid" push-left="off-1" push-right="off-1" id="epl-q">
            <div class="col-12">
                <label for="epl-q-sql">SQL:</label>
            </div>
            <div class="col-12">
                <textarea id="epl-q-sql" v-model="sql"></textarea>
            </div>
            <div class="col-12">
                <button id="epl-q-query" @click="query()">Query</button>
            </div>
            <div class="col-12">
                <textarea v-model="response" style="width: 100%; height: 10em;"></textarea>
            </div>
        </div>
    </div>
</div>
<script type="application/javascript" src="//cdn.bootcss.com/vue/1.0.16/vue.min.js"></script>
<script type="application/javascript" src="//cdn.bootcss.com/vue-resource/0.7.0/vue-resource.min.js"></script>
<script type="application/javascript">
    new Vue({
        el: '#epl-q',
        data: {
            sql: 'SELECT * FROM quote WHERE symbol=%(param1)s'
        },
        methods: {
            query: function() {
                this.$http.post('/translate', this.sql).then(function(response) {
                    this.$set('response', JSON.stringify(response.data));
                }, function(response) {

                })
            }
        }
    })
</script>
</body>
</html>